@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
} 


html{
    scroll-behavior: smooth;
}

body{
    background: #f4f4f4;
}

li{
   list-style: none;
}
/* This style is for the website preloader */
#preloader{
    background: #fff url(../images/preloader1.gif) no-repeat center center;
    position: fixed;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    z-index: 1000;
  }
/* This style is for the scroll to top  */
  #progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 5;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
#progress-value img{
    width: 30px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.website-logo{
    width: 120px;
}

.navigation li{
    display: inline-block;
}


.navigation a{
    position: relative;
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


nav #icon{
    color: #000;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}

main {
    margin: 8.1rem 0rem;
    color: #fff;
}

.tbody{
    background: url(../images/desktop-background.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 3rem;
    
 
}

.tbody::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-size: 100%; */
    /* background-color: rgba(0, 0, 0, 0.2); Black overlay with 0.8 opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.tbody .p1{
    font-size: 4rem;
    text-transform: uppercase;
}
.tbody .p1 span{
    color: red;
}

.tbody .p2 span{
    color: red;
}


/* Media QUery */
@media (max-width: 909px){


    header{
        padding: 15px 30px;
    }

    .website-logo{
    width: 100px;
}
    
       nav #icon{
        display: inline-block;  
       
    }

    
    header nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: transparent;
        top: 131px;
        left: -100%;
        text-align:center;
        transition: all .7s;
        background: #2f3640;
        z-index: 99;

    }


    header nav li {
        display: flex;
        flex-direction: column; 
        margin: 30px 0;
        line-height: 30px;
    }


      .hidden {
            display: none;
        }
       nav ul.show {
            display: flex;
            flex-direction: column;
            left: 0;
        }

     .fixed {
        position: fixed !important;
} 

    .open-icon,
.close-icon {
  font-size: 30px; /* Adjust icon size as needed */
  color: black; /* Adjust icon color as needed */
}

/* Add padding to make the buttons thicker */
.open-icon,
.close-icon {
  padding: 5px; /* Adjust padding as needed */
}

/* Add border to make the buttons thicker */
.open-icon,
.close-icon {
  /*border: 2px solid black; Adjust border thickness and *color as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}

   .tbody{
        display: none;
    }

    .tbody::after {
        display: none;
    }

    .tbody-mob{
    background: url(../images/mob.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 3rem;
    display: block;
    }
    .tbody .p1{
    font-size: 2.5rem;
    text-align: center;
}

    .tbody .p2{
        text-align: center;
    }
}

 @media (max-width: 500px){

    .tbody-mob{
        display: none;
    }

    .tbody-small{
    background: url(../images/mob2.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 1.2rem;
    display: block;
    }

      .tbody .p1{
    font-size: 1.5rem;
}

 }