@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
} 


html{
    scroll-behavior: smooth;
}

body{
    background: #f4f4f4;
    /* font-family: Poppins; */
}
a{
    text-decoration: none;
}

li{
   list-style: none;
}
/* This style is for the website preloader */
#preloader{
    background: #fff url(../images/preloader1.gif) no-repeat center center;
    position: fixed;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    z-index: 1000;
  }
/* This style is for the scroll to top  */
  #progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 5;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
#progress-value img{
    width: 20px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.website-logo{
    width: 80px;
}

.navigation li{
    display: inline-block;
}


.navigation a{
    position: relative;
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


nav #icon{
    color: #000;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}

main {
    margin: 5.7rem 0rem;
    color: #fff;
}




/* slider  */


.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h3{
    font-size: 30px;
    color: crimson;
}

.txt h1{
	color: crimson; /*blue*/
	font-size: 50px;
	margin-bottom: 20px;
    
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.slider img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}



/* slider  */

/* css style for the footer section */
footer{
    width: 100%;
    position: absolute;
    background: #2f3640;
    /* background: #b2beb5; */
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}



footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}

footer .logo{
    width: 80px;
    margin-bottom: 30px;
}
footer p{
    font-size: 0.9rem;
}

footer  h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.3rem;
}

footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}
footer ul li {
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

 footer form .far{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button .fas{
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer .copyright{
    text-align: center;
    font-size: 1.1rem;
}
footer .underline{
    width: 100%;
    height: 5px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 10px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}





/* Media QUery */


@media (max-width: 909px){

    header{
        padding: 15px 30px;
    }

    .website-logo{
    width: 90px;
}
    
       nav #icon{
        display: inline-block;  
       
    }

    
    header nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 117px;
        left: -100%;
        text-align:center;
        transition: all .7s;
        background: #2f3640;
        z-index: 99;

    }


    header nav li {
        display: flex;
        flex-direction: column; 
        margin: 30px 0;
        line-height: 30px;
        
    }

    .navigation a{
    color: #fff;
    /* border: 1px solid rosybrown; */
    
}


      .hidden {
            display: none;
        }
       nav ul.show {
            display: flex;
            flex-direction: column;
            left: 0;
        }

     .fixed {
        position: fixed !important;
} 

    .open-icon,
.close-icon {
  font-size: 30px; 
  color: black; 
}


.open-icon,
.close-icon {
  padding: 5px; 
}

.open-icon,
.close-icon {
  /*border: 2px solid black; Adjust border thickness and *color as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}

main {
    margin: 7rem 0rem;
}

   .tbody{
        display: none;
    }

    .tbody::after {
        display: none;
    }

    .tbody-mob{
    background: url(../images/mob.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 3rem;
    display: block;
    }
    .tbody .p1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.7rem;
}

    .tbody .p2{
        text-align: center;
        
    }
    .tbody .p3{
        padding-right: 0rem;
    }



.menu-b{
    font-size: 1.2rem;
    background: mistyrose;
}

footer .col{
    flex-basis: 100%;
}


footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}


footer .copyright{
    text-align: center;
    font-size: 0.9rem;
}

}

 @media (max-width: 500px){

     .website-logo{
     width: 65px;
 }
      header nav ul{
        top: 111px;
    }



    main {
    margin: 6.5rem 0rem;
}


.menu-b{
    font-size: 1rem;
   
}

 }