@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
} 


html{
    scroll-behavior: smooth;
}

body{
    background: #f4f4f4;
    /* font-family: Poppins; */
}
a{
    text-decoration: none;
}

li{
   list-style: none;
}
/* This style is for the website preloader */
#preloader{
    background: #fff url(../images/preloader1.gif) no-repeat center center;
    position: fixed;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    z-index: 1000;
  }
/* This style is for the scroll to top  */
  #progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 5;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
#progress-value img{
    width: 20px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.website-logo{
    width: 80px;
}

.navigation li{
    display: inline-block;
}


.navigation a{
    position: relative;
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


nav #icon{
    color: #000;
    font-size: 30px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}

main {
    margin: 5.7rem 0rem;
    color: #fff;
}

.tbody{
    background: url(../images/test7.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 3rem;
    
    
 
}

.tbody::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-size: 100%; */
    /* background-color: rgba(0, 0, 0, 0.2); Black overlay with 0.8 opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.tbody .p1{
    font-size: 4rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
.tbody .p2{
    margin: 1.2rem 0;
    font-size: 2.2rem;
}
.tbody .p1 span{
    color: red;
}

.tbody .p2 span{
    color: red;
}

.tbody .p3{
    padding-right: 50rem;
    font-size: 1.4rem;
    font-style:italic ;
}
.other-p{
    padding-bottom: 2rem;
}

.menu-b{
    font-size: 1.8rem;
    padding: 0.4rem;
    background: mistyrose;
    /* border: 1px solid crimson ; */
    color: crimson;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    z-index: 2;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
   
}

.menu-b.mb1:hover{
    background-color: crimson;
    color: #fff;
    box-shadow: 0 0 5px crimson,
                0 0 25px crimson,
                0 0 50px crimson,
                0 0 200px crimson;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.menu-b.mb2:hover{
    background-color: #84c136;
    color: #fff;
    box-shadow: 0 0 5px #84c136,
                0 0 25px #84c136,
                0 0 50px #84c136,
                0 0 200px #84c136;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.menu-b.mb2:hover{
    background-color: #84c136;
    color: #fff;
    box-shadow: 0 0 5px #84c136,
                0 0 25px #84c136,
                0 0 50px #84c136,
                0 0 200px #84c136;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.menu-b.mb3:hover{
    background-color: #5f5d57;
    color: #fff;
    box-shadow: 0 0 5px #5f5d57,
                0 0 25px #5f5d57,
                0 0 50px #5f5d57,
                0 0 200px #5f5d57;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* shop container */


/* 
#filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
}

#filterable-cards .card {
  width: 15rem;
  border: 2px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

@media (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  #filterable-cards .card {
    width: calc(50% - 10px); 
  }
}  */

 .shop-container{
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    color: #000;
}

.row-btn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#filter-buttons button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#filter-buttons button.active{
    background: #4070f4;
}

.fit-row{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

#filterable-cards .fit-card{
    flex-grow: 1;
    flex-basis: 250px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.05);
}
#filterable-cards .fit-card.hide{
    display: none;
}
.fit-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body{
    padding: 15px 20px 20px;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.card-text{
    font-size: 18px;
    color: #333;
} 
/* shop container */


footer{
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    background: linear-gradient(45deg, rgba(220, 20, 60, 0.7), rgba(139, 0, 0, 0.7));
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}



footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}

footer .logo{
    width: 80px;
    margin-bottom: 30px;
}
footer p{
    font-size: 0.9rem;
}

footer  h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.3rem;
}

footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}
footer ul li {
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

 footer form .far{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button .fas{
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer .copyright{
    text-align: center;
    font-size: 1.1rem;
}
footer .underline{
    width: 100%;
    height: 5px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 10px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}





/* Media QUery */
@media (max-width: 1350px) {
    .tbody .p3{
        padding-right: 35rem;
    }
}
@media (max-width: 1100px){
       .tbody .p3{
    padding-right: 5rem;
    padding: 0.4rem 0.4rem;
    border-radius: 0.8rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    color: #000;
   
}
}
@media (max-width: 909px){

    header{
        padding: 15px 30px;
    }

    .website-logo{
    width: 90px;
}
    
       nav #icon{
        display: inline-block;  
       
    }

    
    header nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 117px;
        left: -100%;
        text-align:center;
        transition: all .7s;
        background: #2f3640;
        z-index: 99;

    }


    header nav li {
        display: flex;
        flex-direction: column; 
        margin: 30px 0;
        line-height: 30px;
        
    }

    .navigation a{
    color: #fff;
    /* border: 1px solid rosybrown; */
    
}


      .hidden {
            display: none;
        }
       nav ul.show {
            display: flex;
            flex-direction: column;
            left: 0;
        }

     .fixed {
        position: fixed !important;
} 

    .open-icon,
.close-icon {
  font-size: 30px; 
  color: black; 
}


.open-icon,
.close-icon {
  padding: 5px; 
}

.open-icon,
.close-icon {
  /*border: 2px solid black; Adjust border thickness and *color as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}

main {
    margin: 7rem 0rem;
}

   .tbody{
        display: none;
    }

    .tbody::after {
        display: none;
    }

    .tbody-mob{
    background: url(../images/mob.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 3rem;
    display: block;
    }
    .tbody .p1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.7rem;
}

    .tbody .p2{
        text-align: center;
        
    }
    .tbody .p3{
        padding-right: 0rem;
    }



.menu-b{
    font-size: 1.2rem;
    background: mistyrose;
}

footer .col{
    flex-basis: 100%;
}


footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}

}

 @media (max-width: 500px){

     .website-logo{
     width: 65px;
 }
      header nav ul{
        top: 111px;
    }



    main {
    margin: 6.5rem 0rem;
}
    .tbody-mob{
        display: none;
    }

    .tbody-small{
    background: url(../images/mob2.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 1.2rem;
    display: block;
    }

      .tbody .p1{
    font-size: 1.5rem;
}


.menu-b{
    font-size: 1rem;
   
}

 }